:root {
    --primary: #e99401;
    --negro: #262626;
    --blanco: #FFF;
    --fuente-principal: 'Outfit', sans-serif;
}
html {
    font-size: 62.5%;
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}
body {
    font-size: 2rem;
    font-family: var(--fuente-principal);
    line-height: 1.5;
    /* overflow-y: scroll; */
}
img {
    max-width: 100%;
    width: auto;
    height: auto;
    display: block;
}

a {
    text-decoration: none;
    color: inherit;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

/* Selecciona a los que terminan con 'contenedor' */
[class$="__contenedor"] {
    max-width: 120rem;
    width: 95%;
    margin: 0 auto;
}

/* utilidades */
.boton {
    color: var(--negro);
    border: 2px solid var(--primary);
    padding: 1rem 5rem;
    text-transform: uppercase;
    font-size: 1.4rem;
    font-weight: 700;
    transition: all .3s ease;
}
.boton:hover {
    background-color: var(--primary);
    color: var(--blanco);
}



/* Header
------------------------------------------------------ */
.header {
    background-image: linear-gradient(to right, rgb(0 0 0 / .7) 0%, rgb( 0 0 0 / .7) 100%), url(../img/header.jpg);
    background-size: cover;
    background-position: center, center center;
    background-repeat: no-repeat;
    padding-block: 5rem; 
    position: relative;
}
.header__barra {
    display: flex;
    flex-direction: column;
    align-items: center;
}
@media (min-width: 1024px) {
    .header__barra {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }   
}
.header__logo {
    width: 30rem;
}
.header__guitarra {
    display: none;
}
@media (min-width: 1024px) {
    .header__guitarra {
        display: unset;
        position: absolute;
        right: 0;
        bottom: 0;
        /* opacity: 0; */

        /* Animacion */
        /* animation-name: mostrarImg;
        animation-duration: 1s; */

        /* Estas animaciones no las usamos */
        /* animation-timing-function: ease-in-out;
        animation-delay: 0%;
        animation-iteration-count: 1; */

        /* shothand */
        animation: 1s ease-in-out 0s 1 mostrarImg;
    }
}
@keyframes mostrarImg {
    0% {
        opacity: 0;
        transform: translateX(-10rem);
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
        transform: translateX(0);

    }
}

/* Navegacion
----------------------------------------------------- */
.navegacion {
    z-index: 1;
}
.navegacion__list {
    margin-top: 5rem;
    display: flex;
    gap: 2rem;
}
@media (min-width: 1024px) {
    .navegacion__list {
        margin-top: 0;
    }   
}
.navegacion__enlace {
    font-size: 1.4rem;
    color: var(--blanco);
    text-transform: uppercase;
    padding: .5rem;
    font-weight: 700;
    transition: background-color .3s ease;
}
.navegacion__enlace:hover {
    background-color: var(--primary);
}

/* Modelo
------------------------------------------------------ */
.modelo {
    text-align: center;
    color: var(--blanco);
}
@media (min-width: 1024px) {
    .modelo {
        text-align: left;
    }   
}
.modelo__nombre {
    font-size: 8rem;
}
.modelo__descripcion {
    font-size: 2rem;
}
@media (min-width: 768px) {
    .modelo__descripcion {
        max-width: 85%;
        margin: 0 auto;
    }
}
@media (min-width: 1024px) {
    .modelo__descripcion {
        max-width: 50%;
        margin: unset;
    }
}
.modelo__precio {
    font-size: 6rem;
    color: var(--primary);
    font-weight: 900;
    margin: 0 0 2rem 0;
}
.modelo__enlace {
    color: var(--blanco);
}


/* Main - Productos
----------------------------------------------------- */
.productos {
    margin-block: 5rem;
}
.productos__heading {
    text-align: center;
    font-weight: 900;
    font-size: 4rem;
    color: var(--primary);
    margin-bottom: 5rem;
}
@media (min-width: 768px) {
    .productos__contenedor {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 4rem;
    }    
}
@media (min-width: 1024px) {
    .productos__contenedor {
        grid-template-columns: repeat(3, 1fr);
    }    
}
.producto {
    display: grid;
    grid-template-columns: 2fr 3fr;
    gap: 1rem;
    align-items: center;
    justify-content: center;
    margin-bottom: 4rem;
}
@media (min-width: 768px) {
    .producto {
        margin-bottom: 0;
    }  
}
.producto__heading {
    text-transform: uppercase;
    font-size: 3rem;
}
.producto__texto {
    font-size: 1.6rem;
}
.producto__precio {
    color: var(--primary);
    font-size: 6rem;
    font-weight: 900;
    margin: 0 0 2rem 0;
}
.producto__enlace {
    font-size: 1.2rem;
    font-weight: 700;
    display: block;
    text-align: center;
    font-weight: 900;
}

/* Cursos
----------------------------------------------------- */
.cursos {
    margin-block: 10rem;
    padding-block: 10rem;
    background-image: linear-gradient(to right, rgb(0 0 0 / .6) 0%, rgb( 0 0 0 / .6) 100%), url(../img/cursos_bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.cursos__contenedor {
    
}
@media (min-width: 1024px) {
    .cursos__contenedor {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
}
.cursos__contenido {
    display: flex;
    flex-direction: column;
    align-items: center;
}
@media (min-width: 1024px) {
    .cursos__contenido {
        grid-column: 2/3;
    }
} 
.cursos__heading {
    color: var(--primary);
    font-size: 4rem;
    font-weight: 900;
    text-align: center;
}
@media (min-width: 768px) {
    .cursos__heading {
        font-size: 4.4rem;
    }   
}
.cursos__texto {
    text-align: center;
    font-size: 2rem;
    color: var(--blanco);
    margin-bottom: 4rem;
    line-height: 1.5;
}
@media (min-width: 768px) {
    .cursos__texto {
        font-size: 2.4rem;
    }  
}
.cursos__enlace {
    color: var(--blanco);
}